<%= form_for :park, url: parks_path do |f| %>
  <% if @park.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@park.errors.count, "error") %> prohibited
  this park from being saved:</h2>
	<ul>
	<% @park.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
	</ul>
	</div>
	<% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>
 
	<p>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </p>

	<p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <div class="form_group">
<%= collection_check_boxes(:park, :equipment_ids, Equipment.all, :id, :name) %>

  <p>
    <%= f.submit %>
  </p>
<% end %>
