<h1><%= @park.name %></h1>


<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%=@park.address%>&zoom=<%= @zoom %> &size=600x300&maptype=roadmap
&markers=color:green%7Clabel:X%7C<%= @park.latitude %>,<%= @park.longitude %>"><br>


<h3><%= @park.address %><br>
<%= @park.city %>, <%= @park.state %></h3>


<h4>Description:</h4>
<p><%= @park.description %></p>

<h4>Equipment:</h4>
<% @park.equipments.each do |item| %>
<li>
<% if item.id? %>
<%= link_to item.name, equipments_path(item.id) %>
<% else %>
<%= item.name %>
<% end %>
</li>
<% end %>

<h5>Nearby Parks</h5>
<ul>
	<% @park.nearbys(5).each do |nearby_park| %>
		<li><%= link_to nearby_park.name, nearby_park %></li>
	<% end %>
</ul>

<h2>Comments</h2>

<%= render @park.comments %>


<h2>Add a comment:</h2>

<%= render 'comments/form' %>

<% unless current_user == nil %>
	<% if current_user.admin? %>

	<%= link_to "Edit", edit_park_path(@park) %>
	<%= link_to 'Delete', park_path(@park),
method: :delete, data: {confirm: "Are your sure?" } %>
	<% end %>
<% end %>
<%= link_to "Back", parks_path %>