<h1>Show Park</h1>

<%= @park.name %>
<%= @park.address %>
<%= @park.city %>
<%= @park.state %>
<%= @park.description %>

<h2>Comments</h2>

<%= render @park.comments %>


<h2>Add a comment:</h2>

<%= render 'comments/form' %>

<%= link_to "Edit", edit_park_path(@park) %>
<%= link_to 'Delete', park_path(@park),
method: :delete, data: {confirm: "Are your sure?" } %>
<%= link_to "Back", parks_path %>