<h1><%= @park.name %></h1>


<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%=@park.address%>&zoom=<%= @zoom %> &size=600x300&maptype=roadmap
&markers=color:green%7Clabel:X%7C<%= @park.latitude %>,<%= @park.longitude %>"><br>

<h3><%= @park.address %>, <%= @park.city %>, <%= @park.state %></h3>


<h4>Description:</h4>
<p><%= @park.description %></p>

<h4>Equipment:</h4>
<% @park.equipments.each do |item| %>
<li><%= item.name %></li>
<% end %>

<h2>Comments</h2>

<%= render @park.comments %>


<h2>Add a comment:</h2>

<%= render 'comments/form' %>

<% unless current_user == nil %>
	<% if current_user.admin? %>

	<%= link_to "Edit", edit_park_path(@park) %>
	<%= link_to 'Delete', park_path(@park),
method: :delete, data: {confirm: "Are your sure?" } %>
	<% end %>
<% end %>
<%= link_to "Back", parks_path %>