<% if @equip.errors.any? %>
		<div id="error_explanation">
			<h2><%=pluralize(@equip.errors.count, "error") %> prohibited
			this equipment from being saved:</h2>
			<ul>
				<% @equip.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

<%= form_for @equip do |f| %>
<ul>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="form-group">
	<%= f.label :age_range %>
	<%= f.text_field :age_range %>
	</div>

	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_area :description, size: "60x12" %>
	</div>

	<div class="form-group">
		<%= f.submit %>
	</div>
</ul>
<% end %>

