<!DOCTYPE html>
<html>
<head>
  <title>Playground</title>
  <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great|Cabin' rel='stylesheet' type='text/css'>
  <link src='normalize.css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<%= render "shared/nav" %>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= render "parks/search" %>
<%= render "parks/search_results" %>

<%= yield %>

</body>
</html>
